h1{
    margin-top: 0px;
    position:relative;
    top:100px;
    font-family: 'Sacramento', cursive;
}

body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top-container{
    background-color: #E4F9F5;
    position: relative;
    height:550px;
}
.middle-container{
}
.bottom-container{
}
.top-cloud{
    position: absolute;
    top: 30px;
    right: 670px;
}
.bottom-cloud{
    position: absolute;
    top: 220px;
    left: 670px;
}
p{
    position:relative;
    top:100px;
    font-family: 'Montserrat', sans-serif;
}
.mountain{
    position: relative;
    top: 100px;

}
.profile-pic{
    width: 10vw;
}
